body
{
	background: #e5e5e5;
}

.big-input
{
	height: 3rem;
	text-align: center;
	font-size: 1rem;
	border-radius: 2rem;
}

.rel
{
	position: relative;
}

.h-100
{
	height: 75vh !important;
	padding: 0;
	margin: 0;
}

.card-header
{
	background: #0b1b48b0;
	color: #ffffff;
}

.loader
{
	margin-top: -1rem;
	background: #ffffff;
	width: 100%;
	min-height: 75vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.loader img
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.btn.floating
{
	position: absolute;
	top: 0;
	right: 1rem;
	border-radius: 2rem;
	background-color: transparent;
}

.btn.b-radius
{
	border-radius: 2rem;
}

.btn.floatingRigth
{
	position: absolute;
	top: 0;
	left: 1rem;
	border-radius: 2rem;
}
