/* ---------------------------------- General ---------------------------------- */
body {
	font-family: 'Lato';
	font-weight: 300;
	color: #fff;
	position:relative;
}

h1, h2, h3, h4, h5, p, span, label, a
{
	font-family: 'Lato';
	font-weight: 300;
}

hr {
	/* background: #000; */
}

label, img, h1, a
{
	user-select: none;
}


/* ---------------------------------- Links and buttons ---------------------------------- */
a:hover {
	text-decoration: none !important;
}
a.wami-link {
	color: #fff;
}
.btn.wami-btn
{
	background: rgba(239, 239, 239, 0.95);
	color: #888;
	border: solid 1pt #efefef;
	font-weight: 400 !important;
	border-radius: 15px;
	margin: 5px 0;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);

}
.btn.wami-btn:hover {
	background: transparent;
	color: #fff;
}
.btn.wami-btn.padded
{
	padding: 5px 30px;
}

.btn.wami-btn.active
{
	background: rgb(163, 133, 70);
	border-color: #fff;
	color: #fff;
}

.btn-social {
	width:auto;
}
.btn-container {
	left:50%;
}
.btn-container .btn{
	transform: translate(-50%, 0);
	margin: 20px auto;
	padding-left: 50px;
	padding-right: 50px;
}
/* ---------------------------------- Alerts and Errors ---------------------------------- */
.alert.alert-wami {
	background: rgba(250,250,250,0.75);
	border: solid 1px rgba(255,255,255,0.5);
	border-radius:5px;
	text-align:center;
	padding-bottom: 5px;
	font-size: 15px;
	font-weight: 600;
	padding-top: 5px;
	margin-top: 20px;
}
.alert.alert-wami.default
{
	color:#be1e2d;
	margin: 10px 0;
}
.alert.alert-wami.success
{
	color: #a38546;
}
.has-error .form-control
{
	
	box-shadow:none;
	border-color: #be1e2d;
	border-bottom-width: 2px;
	-webkit-animation-name: redPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

.has-focus .form-control {
	border-color: #fff;
	box-shadow: none;
}
.help-block {
	color:#fff;
	margin-left:0;
}
.popover {
	background:rgba(50,50,,0.75);
	box-shadow: 0px 0px 5px #fff;
	border: solid 1px #ccc;
	font-size: 14px;
	color:#fff;
}
.popover .arrow:after {
	border-right-color:#ccc !important;
}
.toast-top-right {
	top: 72px;
	right: 12px;
}
.error-overlay {
	background:rgba(133, 137, 140, 0.95);
	position: absolute;
	width: 50%;
	left: 50%;
	top: 50px;
	transform: translateX(-50%);
	z-index: 10000000;
}

button.confirm
{
	background: rgba(163, 133, 70, 1) !important;
}


.nav-pills li,
.nav-pills li:hover,
.nav-pills li:focus
{
	background: transparent;
}

.nav-pills a,
.nav-pills a:hover,
.nav-pills a:focus
{
	color: white;
	font-size: medium;
	border-radius: 0 !important;
}

/* My Account */


div#account
{
	background: rgba(239, 239, 239, .15);
	padding: 0 0 15px;
	z-index: 1000;
}


div#account .nav-pills>li.active>a,
div#account .nav-pills>li.active>a:hover,
div#account .nav-pills>li.active>a:focus
{
	background: rgba( 163, 133, 70, 0.75 );	
}


div#account .nav-pills>li>a
{
	background: rgba( 163, 133, 70, 0.35 );	
}

div#account .nav-pills>li>a:hover,
div#account .nav-pills>li>a:focus
{
	background: rgba( 163, 133, 70, 0.5 );	
}




/* ---------------------------------- Radio Buttons ---------------------------------- */

.checkbox label::before
{	
	top: 50%;
	transform: translateY(-50%);
    width: 24px;
    height: 24px;
    margin-left: -20px;
    border: 1px solid #efefef;
    background-color: rgba(239, 239, 239, 0.875);
}

.checkbox label::after
{
	#font-size: 12px;
	color: rgba(163, 133, 70, 1);
	left: 3px;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -1px;
}

.checkbox label
{
	padding-left: 15px;
}



.radio-wami label
{
	font-size: 16px;
	cursor: pointer;
}
.radio-wami label:hover {
	
}
.radio label::before {
	background:transparent;
	border-color: #fff;
	border-width: 2px;
	height:20px;
	width:20px;
	left:1px;
	top: 0px;
}
.radio label::before,
.radio label::after
{
	cursor: default;
}
.radio-wami input[type="radio"] + label::after {
	background-color: #eee;
	width: 10px;
	height: 10px;
	left:6px;
	top: 5px;
}
.radio-wami input[type="radio"]:checked + label::after {}


#type-radio .radio,
#ammount-radio .radio,
#side-radio .radio
{
	margin: 10px 0;
}

#side-radio #left-side
{
	padding-right: 20px;
	margin-right: 15px;
	border-color: white;
	border-style: solid;
	border-width: 0;
	border-right-width: 1px;
}


/* ---------------------------------- Loader ---------------------------------- */
body #loader {
	position: absolute;
	z-index: 10000;
	height: 100vh;
	width: 100vw;
	top: 0;
}
body #loader .loader-background {
	position:absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	top: 0;
}
body #loader .loader-filter {
	background: rgba(163, 133, 70, 0.75);
	position:absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0;
}
body #loader img
{
	position:absolute;
	transform:scale(3);
	top:50%;
	left: 50%;
}

/* ---------------------------------- Footer ---------------------------------- */
.navbar {
	background: transparent;
	margin: 0;
	min-height: auto;
	border: none;
}

.footer
{
	padding-top: 60px;	
}

@media only screen and (min-height: 640px) and (min-width: 768px)
{
	.navbar
	{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}

.navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar .navbar-nav li a{
	font-size: 12px;
	font-weight:400;
	color: #fff;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus
{
	text-decoration: underline !important;
	background:none;
	color: #fff;
}

/* Add your Desktop Styles here */
@media only screen and (min-width: 768px)
{
	.navbar.no-margin
	{
		margin-left:0 !important;
	}
}

/* ---------------------------------- Languages ---------------------------------- */
.top-wrapper
{
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: 0 10px;
}

.navbar-bg
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	height: 60px;
	width: 100%;	
}
.logo-wrapper img
{
	max-height: 60px;
	margin-left: 120px;
	padding: 10px 0;
	z-index: 1;
}

.session-bar,
.lang-bar
{
	float:left;
	margin-top: 15px;
	margin-right: 10px;
}
.session-bar .wami-btn,
.lang-bar .wami-btn
{
	padding-top: 5px;
	padding-bottom:6px;
	min-width:120px;
	max-height:34px;
	font-weight:100;
	margin:0;
}

.lang-bar .wami-btn
{
	-webkit-animation-name: GoldenPulse;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 5;
}

.lang-bar .dropdown-scroll
{
	max-height: 75vh;
	margin-top: 5px;
	padding: 0;
}


@media (max-width: 768px)
{
	.session-bar {
		display: none;
	}


}

@media (max-width: 640px)
{
	.logo-wrapper img
	{
		padding: 15px 0;	
		margin-left: 5px;
	}

	.top-wrapper
	{
		background: rgba(165, 137, 89, 0.75);
		border-bottom: solid 1px rgba(132, 132, 132, 0.72);
	}
}

/* ---------------------------------- Forms ---------------------------------- */

.form-control:focus,
.bootstrap-select .dropdown-toggle:focus
{
 	background: rgba(239, 239, 239, 0.65);
 	color: #000000 !important;
 	font-weight: 400;
}

.bootstrap-select .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus
{
	color: white;
	background: rgb(171, 154, 150) !important;
}

.form-group,
.form-group input {
	background:transparent;
	border-width: 0;
	border-bottom-width: 1px;
	box-shadow:none;
	margin-bottom: 5px;
	border-radius: 0;
}
.form-group input.error {
	border-color: #e20909;
}
.form-group input:focus,
.form-group input:hover
{
	box-shadow:none;
	border-color:#fff;
}
.form-group .help-block {
	margin: 15px 0 10px;
	font-size:14px;
}

.form-group .form-label
{
	font-size: 20px;
	padding-bottom: 15px;
}

.form-group input {
	color: #fff !important;
	margin-bottom: 5px;
}


.form-control[disabled],
.form-control[readonly]
{
	background: transparent;
}

.form-group #TermsLink
{
	line-height: 17px;
	font-family:'Lato';
	font-weight:100;
	font-size:14px;
	cursor:pointer;
}
.form-group #TermsLink a
{
	color: rgba(163, 133, 70, 1);
	font-size:10px;
}

input::-webkit-input-placeholder {
	color: #efefef !important;
}

input::-moz-placeholder {
	color: #efefef !important;
}

input:focus::-webkit-input-placeholder {
	color: #444 !important;
}

input:focus::-moz-placeholder {
	color: #444 !important;
}

#inputSurgeryDate
{
	font-size: 15px;
}

/* ---------------------------------- Dropdowns ---------------------------------- */

.dropdown-menu>li>a
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus
{
    background-color: rgba(163, 133, 70, 1);
}

.dropdown-menu.inner
{
	max-height: 250px !important;
}


.dropdown-scroll
{
	height: auto;
	max-height: 250px;
	min-width: 0;
	width: 100%;
	overflow-y: scroll;
	background: rgba(239, 239, 239, 0.95);
}

.dropdown-scroll::-webkit-scrollbar
{ 
	display: none; 
}

.inputDateList .dropdown
{
	padding:0 15px;
}

.inputDateList .dropdown:first-child
{
	padding-left: 0px;
}

.inputDateList .dropdown:last-child
{
	padding-right: 0px;
}

.inputDateList .dropdown-toggle
{
	padding: 5px 15px;
	border-radius: 3px;
	background: rgba(239, 239, 239, 0.95);
	color: #888;
}

.inputDateList.has-error .dropdown button
{
	-webkit-animation-name: redPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

.dropdown-scroll li
{
	border-style: solid;
	border-color: rgba(128, 128, 128, 0.5);
	border-width: 0px;
	border-bottom-width: 1px;
	/*padding: 5px 0;*/

}

.dropdown-scroll li a:hover,
.dropdown-scroll li a:focus
{
	background-color: rgba(163, 133, 70, 0.75);
	color: #fff;
}

.dropdown-scroll li a
{
	color: #888888;
	cursor: pointer;
}

/* ---------------------------------- Selects ---------------------------------- */
.selectize-input {
	background: rgba(50,50,50, 0.1) !important;
	padding: 5px 15px;
	max-height:30px;
	color:#fff;
}
.selectize-input.focus {
	box-shadow:none;
	border-color: #fff;
	background: rgba(150,150,150, 0.75) !important;
}
.selectize-input:after {
	border-top-color: #fff !important;
}
.selectize-input.focus:after {
	border-bottom-color:#fff !important;
}
.selectize-input.input-active {
	color: #fff !important;
	font-weight: 400;
}
.selectize-dropdown-content
{
	max-height: 100% !important;
}
.selectize-dropdown
{
	background: rgba(250,250,250, 0.75) !important;
	max-height: 100 !important;
}
.selectize-dropdown .option {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	font-family: 'Lato';
	font-weight: 400;
	color:black !important;
}
.selectize-dropdown .option .item-title {
	display:block;
}
.selectize-dropdown .option.active
{
	background: rgba(163, 133, 70, 0.875) !important;
	color:#fff !important;
	width:100%;
}

/* ---------------------------------- Content ---------------------------------- */
.container-fluid {
	height: 100%;
}

.page-title h1
{
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 22px;
	font-weight: 400;
}

.background {
	height: 100vh;
	position: fixed;
	width: 100vw;
	overflow-x: auto;
	padding-bottom: 50px;
}

/* Dashboards Background */
.background.dashboard {
	background-image: url('../image/background/new_bg-implant-registration.jpg');
	background-size: cover !important;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position-y: 75%;
}

/* Homepage Background */
.background.login
{
	background-image: url('../images/new_bg-application-home.jpg');
	background-size: cover !important;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position-y: 40%;
}

.main-wrapper
{
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: auto;
	min-height: calc( 75%);
	padding-top: 60px;
	-ms-overflow-style: none;
}

.main-wrapper h1
{
	
}

.main-wrapper::-webkit-scrollbar
{ 
	display: none; 
}
.bottom-wrapper > a.wami-btn
{
	font-size: 16px;
	padding: 10px 20px;
	-webkit-animation-name: GoldenText;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

.bottom-wrapper > a.wami-btn:hover
{
	-webkit-animation-name: none;
	background-color: #9e804c;
}

/* ---------------------------------- Sidebar ---------------------------------- */
.navmenu {
	width: 175px;
	background: none;
	border: none;
}
.navbar-fixed-top {
	display: block;
	text-align: center;
}
.navbar-brand {
	display: inline-block;
	float: none;
}
.navbar-toggle {
	position: absolute;
	float: right;
	right: 0;
	top: 2px;
	margin-left: 15px;
}

.navbar-toggle .fa
{
	font-size: 24px;
	font-weight: lighter;
}

.navbar-toggle:focus, 
.navbar-toggle:hover
{
	background:transparent !important;
	-webkit-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.5);

}

.container {
	max-width: 100%;
}

.sidebar
{
	background: rgba(170,170,170, .95);
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
	overflow-y: hidden;
}

.sidebar-menu
{
	height: calc( 100vh - 175px);
	overflow-y: auto;
}


.sidebar-link
{
	text-align: center;
	margin: 15px 0;
}


.sidebar-menu .bottom
{
	position:absolute;
	width: 100%;
	bottom: 0;
}

.sidebar-menu .bottom > a.wami-btn
{
	display: block;
	color: white;
	padding: 5px;
	width: 80%;
	margin: 0 10% 5%;
}

.sidebar-link img
{
	width: 100%;
	max-width: 50px !important;
}

.sidebar-menu .bottom img
{
	margin-bottom: 10px;
}

.sidebar-link p
{
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin: 0;
}

.sidebar-link.active p
{
	color: #a38546;
}




.sidebar-link.active,
.sidebar-link:hover
{
	border-color: #a38546;
	border-width: 0;
	border-right-width: 5px;
	border-style: solid;
	padding-right: 10px !important;
	background: rgba(239, 239, 239, 0.95);
}

.sidebar-menu li:hover
{
	background: rgba(239, 239, 239, 0.25);
}


@media (min-width: 1px) {
	.navbar-toggle {
		display: block !important;
	}
}

@media (min-width: 768px) {

	body {
		padding: 0;
	}
	.navmenu {
		padding: 0;
		width: 120px;
	}
	.navbar-fixed-top {
		display: none !important; /* IE8 fix */
	}
	.sidebar
	{
		background: rgba(255, 255, 255, 0.2);
	}
	.footer-left {
		padding-left: 120px;
	}

	.sidebar-menu .bottom > a.wami-btn
	{
		display: none;
	}

}

/* ---------------------------------- Home Page - Specifics ---------------------------------- */
#login {
	/* padding-top: 5vh; */
	padding-left: 0;
	padding-right: 0;
	/* padding-bottom: 30px; */
}

#login h1 {
	margin-bottom: 30px;
}

#features
{
		
}

#features h1 {
	font-family: 'Cleargothic-Xlight';
	font-weight: 100;
	font-size: 28pt;
	letter-spacing:1px;
}

#features ul {
	margin-top: 50px;
}

#features li {
	font-family: 'Lato';
	font-size: 16pt;
	margin-bottom: 25px;
}

#features li:before {
	font-family: sans-serif !important;
	padding-right: 8pt;
	font-size:16pt;
	content: "\2022 ";
	color: #fff;
}

@media( min-width: 768px )
{
	.home .main-wrapper
	{
		display: flex;
		align-items: center;
	}
}



/* ---------------------------------- My Implants Specifics ---------------------------------- */

@media( min-width: 768px )
{
	.implants.main-wrapper,
	.warranty.main-wrapper
	{
		display: inline-flex;
		align-items: center !important;	
		justify-content: center;
		flex-direction: column;
		#height: calc(100% - 150px);
	}
	
	.scroll-content
	{
		width: calc( 100vw - 120px );
	}

}


/* ---------------------------------- Scrolls ---------------------------------- */

.scroll-content
{
	white-space: nowrap;
 	overflow-x: auto;
 	-ms-overflow-style: none;
}

.scroll-content::-webkit-scrollbar
{ 
	display: none;
}

@media( min-width: 768px )
{
	.implants.main-wrapper
	{
		padding-left: 120px;
	}
}

.scroll-item
{
	width:auto;
	min-width: 360px;
	margin: 0 10px;
}

.scroll-item.placeholder
{
	min-width: 100px;
}

.scroll-item .panel-heading.extended
{
	position:relative;
}



/* ---------------------------------- My Warranty Specifics ---------------------------------- */

.scroll-item #Extended-stamp {
	height: 65px;
	position:absolute;
	top: 0;
	right:0;
}
.scroll-content #BuyWarrantyBtn
{
	background:transparent;
	border: solid 2px #fff;
	border-bottom-width: 1px;
	border-radius: 5px;
	color: #fff;
}
.scroll-vertical
{
	overflow-y: scroll;
	height: calc(100vh - 300px);
	/* padding-top: 15px; */
}


/* ---------------------------------- Panels ---------------------------------- */

.scroll-item .panel-info h5
{
	margin: 20px 0 15px;
}


/* Panel normal */
.scroll-item .panel-info
{
	font-size: medium;
	color: #575757;
	border: none;
	background: rgba(239, 239, 239, 0.75);
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);
}

.scroll-item .panel-info .table tr td
{
	border: none;
}


/* Golden Content */
.scroll-item .panel-info .panel-heading,
.scroll-item .panel-info .table .table-gd
{
	background-image: url('../images/textures/gold_web.jpg');	
	border: none;
	color: #fff;
}

/* Panel :hover */
.scroll-item .panel-info:hover
{
	background: rgba(239, 239, 239, 1);
}

.scroll-item .panel-info:hover .panel-heading,
.scroll-item .panel-info:hover .table .table-gd
{
	background: rgba(163, 133, 70, 1);
}


/* Panel disabled*/
.scroll-item .panel-info.disabled
{
	color: #888;
	background: rgba(239, 239, 239, 0.5);
}
.scroll-item .panel-info.disabled .panel-heading
{
	background: transparent;
	color: #888;
}
.scroll-item .panel-info.disabled:hover
{
	background: rgba(239, 239, 239, 1);
}

.scroll-item .panel-info.disabled .table .table-gd
{
	background: #888;
}


.scroll-item .panel-info .table tr td
{
	padding: 10px 0;
	font-size:14px;
	font-weight:400;
}
/* Panel Footer */
.scroll-item .panel-footer
{
	padding:0;
	background:transparent;
}
.panel-footer.nodisplay
{
	visibility:hidden;
	height:0
}
.scroll-item .panel-footer a.wami-btn
{
	background: rgb(169, 142, 94);
	border-radius: 0;
	padding:15px 0;
	width:100%;
	border:0;
	margin:0;
}

.scroll-item .panel-footer a.wami-btn:hover {
	background: rgba(100,30,120,1);
}
.scroll-item .panel-info .table .table-fc {
	text-align:left;
	padding-left:20px;
}
.scroll-item .panel-info .table .table-scroll
{
	text-align: center;
	padding-right:20px;
}

/* ---------------------------------- Patient/Doctor List Specifics ---------------------------------- */

.patients.main-wrapper
{
	height:100%;
}



/* Table Scroll */
.table-wrapper
{
	background:#eee;
	padding-left: 0px;
	padding-right: 0px;
}


.table-scroll .table
{
	font-size: 16px;
	font-weight: 500;
	color: #484848;
	margin-bottom: 0;
}

.table-scroll .table th,
.table-scroll .table td
{
	border: none;
	text-align: left;
}

.table-scroll .table th
{
	background: rgba(163, 133, 70, 1);
}

.table-scroll .table th span
{
	display: block;
	padding: 10px ;
	font-weight: 400;
	color: #fff;
	user-select: none;
}

.table-scroll .table tr a
{
	color: #a38546;
	font-weight: bold;
}

.table-scroll .table tr .name {
	text-align: left;
	padding-left: 20px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	#background: transparent;
}

.table-filters
{
	margin-bottom: 15px;
}

.table-filters h1
{
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 20px;
}

.table-filters .control-label
{
	display: block;
	font-size: 15px;
}

.pagination li.active a.page,
.pagination li.disabled a.page,
.pagination li a.page
{
	background:#eee;	
	padding: 10px 15px;
	border-radius: 0 !important;
	color: rgb(163, 133, 70);
	font-weight: 400;
}

.pagination li.active a.page,
.pagination li a.page:hover
{
	background: #a38546;
	color: #fff;
	border-color: #eee;
}

/* Date filter */
.date-filter .dropdown button
{
	min-width: 100px;
}

.filter-sort
{
	margin-top: 15px;
}


/* ---------------------------------- Implant Registration Specifics ---------------------------------- */

.slider {
/* 	background: #24243a; */
	min-height: 385px;
	margin: 15px 0 0;
	padding-bottom: 0;
}

.slide {
/* 	border: 1px dashed yellow; */
}

.slide-content
{
	height: 100%;
	#background: rgba(163, 133, 70, 0.5);
	background: rgba(239, 239, 239, 0.15);
	min-height: 350px;
	padding: 15px 45px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);

}


.slider-controls
{
	position: relative;
	min-height: 40px;
	background: rgba(163, 133, 70, 0.75);
	padding: 10px 0;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.15);
}

.slider-controls .left-control,
.slider-controls .right-control
{
	color: white;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	padding: 0 15px;
}

.slider-controls .step-indicator {
	font-size: 14px;
}

.slider-controls span.glyphicon
{
	font-size: 16px;
}


.slider .step-3 #sticker-img:hover {
	cursor: -webkit-zoom-in;
}

.slider .step-4 input[type="text"],
.slider .step-5 input[type="text"]
{
	letter-spacing: 2px;
	text-transform: uppercase;
}

.slider .step-4 input::-webkit-input-placeholder,
.slider .step-5 input::-webkit-input-placeholder
{
	text-transform: none !important;
}


.slider .step-5 input::-moz-placeholder,
.slider .step-5 input::-moz-placeholder
{
	text-transform: none !important;
}


/* ---------------------------------- Modals ----------------------------------*/

#BuyWarrantyModal .modal,
#ResponseWarrantyModal .modal
{
	color: #888;
	height:100vh;
}

#BuyWarrantyModal .modal-body,
#ResponseWarrantyModal .modal-body {
	color: #444;
}

#BuyWarrantyModal .modal-dialog,
#ResponseWarrantyModal .modal-dialog,
#RedirectModal .modal-dialog
{
	top:50%;
	left:50%;
	position:absolute;
	margin-top:0  !important;
	transform:translate(-50%, -50%) !important;	
}

#BuyWarrantyModal .modal-body
{
	min-height:400px;
}

.modal-body
{	
	color:#888;
	font-size:14px;
	line-height: 1.5;
	max-height: 90vh;
	overflow-y: scroll;
	ms-overflow-style: none;
	padding: 0;
}

.modal-body::-webkit-scrollbar
{
	display: none;
}


.modal-footer
{
	padding-bottom:0;
}

.modal-footer .wami-btn.accent
{
	background: rgb(163, 133, 70);
	color:#fff;
}

#TermsModal .modal-footer .wami-btn.accent:hover
{
	background: #ffffff;
	color: #888;
}

.modal h1
{
	margin: 0 0 10px;
	font-size: 20pt;
}

.modal-backdrop {
	z-index: -1;
}

.modal .modal-header {
	background-image: url('../images/background-images/fixed_btn_bg.png');
	color: #fff;
	text-align:center;
}

.modal .modal-header .modal-title {
	font-weight: 500;
	font-size: 20pt;
}

.modal .close
{
	color: #fff;
	opacity: 1;
	border: solid 1px;
	border-radius: 100%;
	padding: 0 10px;
	padding-top: 2px;
	padding-bottom: 6px;
}

.modal-body h1,
.modal-body h2,
.modal-body h3
{
	padding-top: 25px;
	color: #000;
}

.modal-content {
	padding-bottom: 10px;
}

.modal .tab-controls a
{
	color: black;
	font-weight: bold;
}

.modal #Program-Logo {
	text-align:center;
	padding: 0 auto;
}

.modal #Program-Logo img{
	width:50%;
	padding-top: 30px;
}

.modal h3#Warranty-Price {
	text-align:center;
	font-weight: 900;
}

.modal ul#Warranty-Features li{
	padding: 10px;
	font-size: 12pt;
}

.modal .wami-btn {
	border-color: #888;
	border-radius: 5px;
	min-width:auto;
	color: #888;

}

.modal .selectize-input.full
{
	border-color: #888;	
	color:#888;
}

.modal .selectize-control.single .selectize-input:after {
	border-top-color: #888
}

.modal #methods-container {
	text-align:center;
	padding-top:15px;
	padding-bottom:30px;
}

.modal .payment-metod img{
	padding: 2px;
	border: solid 1px #ccc;
}

.modal .payment-metod img.active,
.modal .payment-metod img:hover
{
	padding: 1px;
	border: solid 2px #555;
}

.modal .form-group,
.modal .form-group input
{
	border-color: #ccc;
	color: #000 !important;
}

.modal .form-group input:focus,
.modal .form-group input:hover {
	box-shadow:none;
	border-color:rgba(163, 133, 70, 1);
}

.modal input::-webkit-input-placeholder {
	color: #444 !important;
}

.modal input:focus::-webkit-input-placeholder {
	color: #000;
}

.modal fieldset {
	padding-bottom: 10px;
}

.modal .control-label
{
	font-size: 12pt;
	padding-bottom: 10px;
}

.modal .wami-btn:hover
{
	color: #888;
}

.modal .form-group .dropdown-toggle
{
	min-width: 120px;
}

#paypal-fields {
	text-align:center;
	padding:75px 0;
}

#PaymentForm {
	#visibility:hidden;
}

@-webkit-keyframes GoldenText {
	from{} 50% { color: rgba(163, 133, 70, 1); } to{}
}

@-webkit-keyframes GoldenPulse
{
	from {}
	50%
	{	
		background-color: rgba(163, 133, 70, 0.5);
		border-color: rgba(163, 133, 70, 1);
		color: #fff;
	}
	to {}
}

@-webkit-keyframes whitePulse {
	from { background-color: transparent; -webkit-box-shadow: 0; }
	50% { background-color: rgba(255, 255, 255, 0.35); -webkit-box-shadow: 0 0 5px #fff; }
	to { background-color: transparent; -webkit-box-shadow: 0; }
}

@-webkit-keyframes whitePulse_slow {
	from { -webkit-box-shadow: 0; }
	10% { text-shadow: 0px 0px 10px #fff;}
	to { -webkit-box-shadow: 0; }
}

@-webkit-keyframes redPulse {
	from {}
	50%
	{
		background: rgba(255, 255, 255, 0.35);
		border-color: rgba(190, 30, 45, 0.5);
	}
	to {}
}




/* ---------------------------------- Popovers ---------------------------------- */


/* ---------------------------------- Helpers ---------------------------------- */
.spacer-5 {
	height: 5vh;
	max-height: 25px;
}
.spacer-15 {
	height: 15vh;
	max-height: 35px;
}
.spacer-45 {
	height: 45vh;
	max-height: 250px;
}
.no-pading {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-margin {
	margin-left:0;
	margin-right: 0;
}
.list-inline
{
	white-space: nowrap !important;
}



